@import 'sass/exports/abstracts';

.notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
  z-index: 999;

  button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 14px;
  }

  &--error {
    background: red;
    color: white;
    font-size: 1rem;
  }

  &--success {
    background: green;
    color: gray;
    font-size: 1rem;

    span {
      padding-right: 1rem;
      font-size: 1rem;
    }
  }
}
